# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*_integrated
*_client_networked
*_networked_client
*_networked_server

# Results
lats.bin
lats.txt

# Data and Scratch
data/*
scratch/*

# Harness
harness/tbench.jar
harness/tbench/tbench.class
harness/tbench_tbench.h

# Masstree
masstree/.deps/
masstree/GNUmakefile
masstree/autom4te.cache/
masstree/config.log
masstree/config.status
masstree/configure
masstree/stamp-h

# Shore
shore/shore-mt/Makefile
shore/shore-mt/Makefile.in
shore/shore-mt/aclocal.m4
shore/shore-mt/autom4te.cache/
shore/shore-mt/config.log
shore/shore-mt/config.status
shore/shore-mt/config/Makefile
shore/shore-mt/config/Makefile.in
shore/shore-mt/config/compile
shore/shore-mt/config/shore-config.h
shore/shore-mt/config/test-driver
shore/shore-mt/configure
shore/shore-mt/src/Makefile
shore/shore-mt/src/Makefile.in
shore/shore-mt/src/atomic_ops/Makefile
shore/shore-mt/src/atomic_ops/asm_linkage/Makefile
shore/shore-mt/src/atomic_ops/asm_linkage/usr/Makefile
shore/shore-mt/src/atomic_ops/asm_linkage/usr/src/Makefile
shore/shore-mt/src/atomic_ops/asm_linkage/usr/src/uts/Makefile
shore/shore-mt/src/atomic_ops/asm_linkage/usr/src/uts/intel/Makefile
shore/shore-mt/src/atomic_ops/asm_linkage/usr/src/uts/intel/ia32/Makefile
shore/shore-mt/src/atomic_ops/asm_linkage/usr/src/uts/intel/ia32/sys/Makefile
shore/shore-mt/src/atomic_ops/asm_linkage/usr/src/uts/intel/sys/Makefile
shore/shore-mt/src/atomic_ops/asm_linkage/usr/src/uts/sparc/Makefile
shore/shore-mt/src/atomic_ops/asm_linkage/usr/src/uts/sparc/sys/Makefile
shore/shore-mt/src/atomic_ops/atomic_ops/Makefile
shore/shore-mt/src/atomic_ops/atomic_ops/amd64/Makefile
shore/shore-mt/src/atomic_ops/atomic_ops/i386/Makefile
shore/shore-mt/src/atomic_ops/atomic_ops/sparc/Makefile
shore/shore-mt/src/atomic_ops/atomic_ops/sparcv9/Makefile
shore/shore-mt/src/common/Makefile
shore/shore-mt/src/common/tests/Makefile
shore/shore-mt/src/fc/Makefile
shore/shore-mt/src/fc/tests/Makefile
shore/shore-mt/src/sm/Makefile
shore/shore-mt/src/sm/smsh/Makefile
shore/shore-mt/src/sm/smsh/lib/Makefile
shore/shore-mt/src/sm/smsh/scripts/Makefile
shore/shore-mt/src/sm/tests/Makefile
shore/shore-mt/src/sthread/Makefile
shore/shore-mt/src/sthread/tests/Makefile
shore/shore-mt/tmpcfg.txt
shore/shore-mt/tools/Makefile

# Silo
silo/masstree/config.log
silo/masstree/GNUmakefile
silo/masstree/config.status

# SPECJBB
specjbb/build/

# Sphinx
pocketsphinx-5prealpha/
sphinx-install/
sphinxbase-5prealpha/

# Moses
moses/OnDiskPt/bin/
moses/biconcor/bin/
moses/bin/
moses/errors
moses/jam-files/bjam
moses/jam-files/engine/bin.linuxx86_64/
moses/jam-files/engine/bootstrap/
moses/lats.bin
moses/lats.txt
moses/lm/bin/
moses/lm/builder/bin/
moses/lm/filter/bin/
moses/mert/bin/
moses/mert/evaluator
moses/mert/extractor
moses/mert/kbmira
moses/mert/mert
moses/mert/pro
moses/mert/sentence-bleu
moses/mira/bin/
moses/misc/bin/
moses/moses-chart-cmd/bin/
moses/moses-cmd/bin/
moses/moses.ini
moses/moses/LM/bin/
moses/moses/TranslationModel/CompactPT/bin/
moses/moses/bin/
moses/phrase-extract/bin/
moses/phrase-extract/extract-ghkm/bin/
moses/phrase-extract/lexical-reordering/bin/
moses/phrase-extract/pcfg-extract/bin/
moses/phrase-extract/pcfg-score/bin/
moses/previous.sh
moses/symal/bin/
moses/util/bin/

# Xapian
xapian/genTerms
xapian/xapian-core-1.2.13/
